<?xml version="1.0"?>
<launch>

  <!-- define arguments -->
  <arg name="robot_env" default="calibration_room"/>
  <arg name="robot" default="robotino"/>
  <arg name="marker" default="empty"/>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="throttled" default="false"/>
  <arg name="env_path" default="$(find robotino_calibration_sim)/worlds/launch"/>
  <arg name="gazebo_env" default="$(optenv GAZEBO_RESOURCE_PATH)"/>

  <env name="GAZEBO_RESOURCE_PATH" value="$(arg gazebo_env):(find robotino_calibration_sim)/worlds/prefabs" />
  <!-- startup simulated world -->
  <include file="$(arg env_path)/$(arg robot_env).launch">
    <arg name="marker" default="$(arg marker)"/>
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="throttled" value="$(arg throttled)" />
  </include>

  <!-- startup simulated robot -->
  <include file="$(find robotino_bringup_sim)/robots/$(arg robot)/$(arg robot).launch" >
    <arg name="paused" value="$(arg paused)" /> 
    <arg name="robot" value="$(arg robot)" />
  </include>

  <!-- <env name="GAZEBO_RESOURCE_PATH" value="$(arg gazebo_env)"/> -->

</launch>
